.main {
  text-align: center;
  background: #f9f7fe;
}
p,
h2 {
  font-family: "Poppins", sans-serif;
  color: #272142;
}
p {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
}
h2 {
  line-height: 36px;

  font-size: 24px;
  font-weight: 400;
}
